<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EventManager.Properties.Settings.EventManagerConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\user\Documents\Visual Studio 2017\Projects\EventManager\EventManager\bin\Debug\EventManager.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <EventManager.Properties.Settings>
            <setting name="SQL" serializeAs="String">
                <value>SELECT * FROM Event</value>
            </setting>
        </EventManager.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="DefaultCulture" value="pt-BR" />
  </appSettings>
</configuration>